table{
    width: 50%;
    font-family: sans-serif;
    border-collapse: collapse;
}

td,th{
    text-align: left;
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}